/* GENERAL RULES */

*, *::before, *::after { /* Apply the border-box model */
  box-sizing:border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size:1.25em;
  color:#000;
}

.wrapper { /* Wrap this around content if it should max at a certain length and not reach the edges of the window */
  max-width:40em;
  margin:0 auto;
  padding:0 2em;
}

h2 {
  font-size:2.5em;
}

input.input-button {
	font-family: Arial, sans-serif;
	font-weight:bold;
	text-align:center;
	padding:0.75em;
	border-width:0.25em;
	border-color:#0A254E;
	border-style:solid;
	text-decoration:none;
	color:#0A254E;
	text-transform:uppercase;
	background-color:#FFF;
	font-size:1em;
	transition: all 0.3s ease-out;
}

.input-button:hover {
	background-color:#0A254E;
	color:#FFF;
}

.form-div {
	padding-bottom:1em;
}

form div span {
	font-size:1em;
	font-weight:bold;
}

.filter-field {
	border-width:0.15em;
	border-style:solid;
	border-color:#000;
	width:100%;
	height:1.75em;
	font-size:1em;
	padding:0 0 0 0.5em;
}

div#pageNavigation {
	margin-top:2em;
	padding-top:2em;
	border-top-width:0.25em;
	border-top-color:#DDD;
	border-top-style:solid;
}






/* GRID SYSTEM */

.container:after { /* Clears the floats after a grid row */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] { /* By default (mobile-first) columns are stacked */
  margin:0.5em 0;
  width:100%;
}

.col-1of2 {
  width:100%;
}

/* GRID SYSTEM */


@media (min-width:40em) {
  [class*='col-'] { /* Remove outside margins */
    float:left;
  }

  .col-left {
  	padding:0 0.5em 0 0;
  }

  .col-right {
  	padding:0 0 0 0.5em;
  }

  .col-1of2 {
  	width:50%;
  }
}